:root {
    --main-bg-color: #ffffff;
    --secondary-bg-color:rgb(237, 243, 247);
    --highlight-bg-color: rgb(226, 244, 255);
    --glass-bg-color: #ffffffa0;
    --main-text-color: #202020;
    --secondary-text-color: #5a5a5a;
    
    --main-accent-color: #1489c9;
    --danger-color: #c80d0d;
    --borders-color: #dddfe9;
    --borders-glass-color: #efeff5cf;

    --button-bg-color: #1771a2;
    --button-hover-color: #1193d8;
    --button-text-color: #ffffff;
    --icon-default-color: #abaeb1;

    --shadow-min: rgba(0, 0, 0, 0.05) 0px 2px 20px;
    --shadow-default: rgba(0, 0, 0, 0.07) 0px 5px 30px;
    --shadow-button: rgba(0, 0, 0, 0.1) 0px 0px 25px;

    --radius-min: 4px;
    --radius-default: 8px;
    --radius-max: 999px;
}



/* DEFAULTS RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 140%;
}
ol, ul {
    list-style: none;
}



/* TYPOGRAPHY */
h1 {
    font-size: 28px;
    font-weight: 600;
}
h2 {
    font-size: 24px;
    font-weight: 600;
}
h3 {
    font-size: 20px;
    font-weight: 600;
}
h4 {
    font-size: 18px;
    font-weight: 600;
}
h5 {
    font-size: 16px;
    font-weight: 600;
}
h6 {
    font-size: 14px;
    font-weight: 600;
}
p {
    white-space: pre-line;
}
a {
    font-weight: 600;
    text-decoration: none;
    color: var(--button-bg-color);
    transition: 0.3s;
}
a:hover {
    color: var(--button-hover-color);
}
.articleRow>h5 {
    display: flex;
    gap: 6px;
}




/* KEY ELEMENTS */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    min-height: 100vh;
    width: 100%;
    max-width: 600px;
}
header, .arrowsClicker {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
header {
    padding: 12px 20px;
    position: sticky;
    top: 0px;
    border: var(--borders-glass-color) solid 1px;
    background-color: var(--glass-bg-color);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow-min);
    z-index: 999;
}
footer {
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 12px 0px;
    width: 100%;
    z-index: 10;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    max-width: 340px;
    padding: 20px;
    gap: 18px;
    background-color: var(--main-bg-color);
    box-shadow: var(--shadow-default);
    border-radius: var(--radius-default);
}
article {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    padding: 16px 16px;
    background-color: var(--main-bg-color);
    box-shadow: var(--shadow-min);
    border-radius: var(--radius-default);
    transition: ease-in-out 0.2s;
}
article:hover {
    cursor: pointer;
    box-shadow: var(--shadow-button);
    transform: scale(1.02);
}
main {
    position: sticky;
    top: 74px;
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
    gap: 12px;
    width: 100%;
    z-index: 999;
}
input, textarea {
    width: 100%;
    font-size: 16px;
    padding: 8px 12px;
}
input[type=checkbox]{
    width: fit-content;
    min-width: 20px;
    min-height: 20px;
}
label {
    width: 100%;
}
input, textarea {
    border: var(--borders-color) 1px solid;
    border-radius: var(--radius-default);
}
textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 50vh;
    min-height: 100px;
}
datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px 12px;
}
hr {
    width: 100%;
    opacity: 0.1;
}

.articleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.articleScores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.inputElement {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    padding: 0px 20px;
    padding-bottom: 110px;
    gap: 16px;
}
.screenNotice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 12px;
    width: 100%;
    text-align: center;
}
.confirmationModal {
    display: flex;
    position: fixed;
    top: 30vh;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 340px;
    gap: 16px;
    border-radius: var(--radius-default);
    background-color: var(--glass-bg-color);
    backdrop-filter: blur(6px);
    box-shadow: var(--shadow-default);
    border: solid 1px var(--borders-color);
}
.indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 12px;
    border: var(--borders-glass-color) solid 1px;
    border-radius: var(--radius-default);
    background-color: var(--glass-bg-color);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow-min);
}
.sessionPageComment {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;
    gap: 8px;
}
.sessionPageDistance {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 12px;
    gap: 8px;
}
.arrowsClicker{
    background-color: var(--secondary-bg-color);
    border-radius: var(--radius-default);
}
.arrowsScoreList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.chart {
    width: 100%;
    min-height: 300px;
    margin: -20px 0;
}
.chartHeading {
    display: flex;
    align-items: center;
    gap: 8px;
}




/* BUTTONS */
input[type="button"], button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: var(--main-bg-color);
    padding: 8px 12px;
    min-width: 36px;
    max-width: 300px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    box-shadow: none;
    border-radius: var(--radius-max);
    transition: 0.3s;
}
input[type="button"].primary, button.primary {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}
input[type="button"].secondary, button.secondary {
    background-color: var(--glass-bg-color);
    color: var(--button-bg-color);
}
button.danger {
    background-color: var(--main-bg-color);
    color: var(--danger-color);
}
input[type="button"]:hover, button:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
    box-shadow: var(--shadow-default);
}
input[type="button"].secondary:hover, button.secondary:hover {
    color: var(--button-text-color);
}
button.danger:hover {
    background-color: var(--danger-color);
    color: var(--main-bg-color);
}
footer>button {
    width: 100%;
    padding: 10px;
    box-shadow: var(--shadow-button);
}
button>svg>path {
    fill: var(--button-bg-color);
    transition: 0.3s;
}
button:hover>svg>path {
    fill: var(--main-bg-color);
}




/* ANIMATIONS */
.fadeIn {
    animation: fadeIn 0.6s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeOut {
    animation: fadeOut 0.6s;
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}




/* SERVICE CLASSES */
.hidden {
    display: none;
}
.visible {
    display: flex;
}
.transparent {
    visibility: hidden;
}
.faded {
    opacity: 0.5;
}
.highlighted {
    background: var(--highlight-bg-color);
}
.accented {
    color: var(--main-accent-color);
}
.width-100 {
    width: 100%;
}
.fullWidth {
    display: flex;
    min-width: 60px;
    justify-content: center;
    gap: 4px;
}
.fix50 {
    min-width: 50px;
}
.fix90 {
    min-width: 100px;
}
.fix98 {
    min-width: 98px;
}