<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673595653369-ofo0isfmqobpbse0ugiscbclj67o5se9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673595653369-ofo0isfmqobpbse0ugiscbclj67o5se9</string>
	<key>API_KEY</key>
	<string>AIzaSyBX1cOLXbQDWsHWyAkHD53OzMbIkTX22Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>673595653369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.naich.bogenTrack</string>
	<key>PROJECT_ID</key>
	<string>bogentrack</string>
	<key>STORAGE_BUCKET</key>
	<string>bogentrack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:673595653369:ios:69f3feb8f342199dbf7628</string>
</dict>
</plist>
